<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'microposts/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'microposts/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <!--<h1>Welcome to the Sample App</h1>-->
    <h1>
      <div class=logo_containter>
        <%= image_tag("logo_portcurio.png", alt: site_name, width: "400px") %>
      </div>
    </h1>
    <!--<h2>-->
    <!--  This is the home page for the-->
    <!--  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>-->
    <!--  sample application.-->
    <!--</h2>-->
    <div class=top_description>
      <h2>
        このSNSは世界中の教材を集約し、協力してブラッシュアップしていくことを目的としています。ご自身の教材のポートフォリオとしても活用してください。
      </h2>
    </div>
  
    <%= link_to "登録はコチラ", signup_path, class: "btn btn-lg btn-primary btn-login" %>
    <div class=easy_login><%= link_to "簡単ログイン（サンプルユーザ１）", '/easylogin/5', method: :post %></div>
    <div class=easy_login><%= link_to "簡単ログイン（サンプルユーザ２）", '/easylogin/3', method: :post %></div>
  </div>
<% end %>