<div class='row welcome_container'>
  <div class="center jumbotron col-md-12">
    <div class="center col-md-5 col-md-offset-1">
      <h1>
        <div class=logo_containter>
          <%= image_tag("logo_portcurio.png", alt: site_name, width: "100%") %>
        </div>
      </h1>
      <div class=top_description>
        <h2>
          このSNSは世界中の教材を集約し、協力してブラッシュアップしていくことを目的としています。ご自身の教材のポートフォリオとしても活用してください。
        </h2>
      </div>
    </div>
    <div class="center col-md-5">
      <div class="login_containter">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
          <%= f.email_field :email, class: 'form-control', placeholder: "Email address" %>
          <%= f.password_field :password, class: 'form-control password-form', placeholder: "Password" %>
          <div class=login_checkbox>
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me, class: 'inline-block' %>
              <span>Remember me on this computer</span>
            <% end %>
          </div>
          <%= f.submit "Log in", class: "btn btn-primary" %>
          <div class=forgot_link><%= link_to "forgot password", new_password_reset_path %></div>
          <div class=easy_login>
            <ul>
              <li><%= link_to "簡単ログイン（サンプルユーザ１）", '/easylogin/5', method: :post %></li>
              <li><%= link_to "簡単ログイン（サンプルユーザ２）", '/easylogin/3', method: :post %></li>
            </ul>
          </div>
        <% end %>
        <hr>
        <p><span>New user?</span><%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary btn-login" %></p>
      </div>
    </div>
  </div>
</div>