<% provide(:title, "Line connection") %>

<h1>Line connection</h1>

<%= form_with(url: line_path, scope: :session, local: true) do |f| %>
  <%= hidden_field_tag :linkToken, params[:linkToken] %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  
  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>