<% @micropost ||= micropost %>
<% url = @micropost.created_at.present? ? replace_micropost_slides_path(@micropost) : set_slides_path %>
<div class="slide-modal-wrapper" >
  <div class="slide-modal">
    <span class="close-modal">
      <%= link_to close_slides_path, remote: true do %>
        <i class="fa fa-2x fa-times"></i>
      <% end %>
    </span>
    <%= form_with(model: @micropost, url: url, method: :get, local: false) do |f| %>
      <%= render 'shared/error_messages_easy', object: f.object %>
      <%= f.radio_button :file_type, :GoogleSlides, class: "form-control" %>
      <%= f.label :file_type, "Google Slides", value: :GoogleSlides %>
      <%= f.radio_button :file_type, :PowerPoint, class: "form-control" %>
      <%= f.label :file_type, "PowerPoint", value: :PowerPoint %>
      <div class="field">
        <%= f.text_area :file_link, placeholder: "スライドの埋め込みコードを入力する" %>
      </div>
      <div class="method_link_container inline-block">
        <%= link_to "Google Slides 投稿方法", googleslides_help_path %>
        <%= link_to "PowerPoint 投稿方法", powerpoint_help_path %>
      </div>
      <%= f.submit "OK", class: "btn btn-primary btn-ok" %>
    <% end %>
  </div>
</div>