<div class="reply-form form">

  <%= form_with model: [@feedmicropost, Comment.new], method: :post, local: false do |f| %>
  
    <% unless @comment.parent_id %>
      <div><%= hidden_field_tag :parent_id, @comment.id, { id: SecureRandom.hex(4) } %></div>
    <% else %>
      <div><%= hidden_field_tag :parent_id, @comment.parent_id, { id: SecureRandom.hex(4) } %></div>
    <% end %>
    
    <% if @userprofile.present? %>
      <div><%= hidden_field_tag :userprofile_id, @userprofile.id, { id: SecureRandom.hex(4) } %></div>
    <% elsif params[:id].present? %>
      <div><%= hidden_field_tag :userprofile_id, params[:id],     { id: SecureRandom.hex(4) } %></div>
    <% else %>
      <div><%= hidden_field_tag :userprofile_id, current_user.id, { id: SecureRandom.hex(4) } %></div>
    <% end %>
    
    <div class="field">
      <%= f.text_area :content, placeholder: "Compose new reply..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>