<%= form_with(model: current_user.active_relationships.find_by(followed_id: user.id),
            html: { method: :delete }, local: false, class: "inline-block") do |f| %>
  <% if @userprofile.present? %>
    <div><%= hidden_field_tag :userprofile_id, @userprofile.id, { id: SecureRandom.hex(4) } %></div>
  <% elsif params[:id].present? %>
    <div><%= hidden_field_tag :userprofile_id, params[:id],     { id: SecureRandom.hex(4) } %></div>
  <% else %>
    <div><%= hidden_field_tag :userprofile_id, current_user.id, { id: SecureRandom.hex(4) } %></div>
  <% end %>
  <%= f.submit "Unfollow", class: "btn btn-default btn-follow" %>
<% end %>