<!-- notification表示であるので既読が付いていないものには色を付ける -->
<div id="notification-<%= notification.id %>" class="notification <%= "notification-nochecked" unless notification.checked? %>">

<!-- ポスト・コメント・いいね・フォロー内容を表示 -->
  <% notifier = User.find(notification.notifier_id) %>

  <% if notification.notificable_type === "Micropost" %>
    <p class='notification_info'><%= link_to notifier.name, notifier %>さんが投稿しました（<%= time_ago_in_words(notification.created_at) %> ago.）</p>
    <%= render partial: 'microposts/micropost', locals: {micropost: notification.notificable} %>
    <%= link_to '', micropost_path(notification.notificable.id), class: 'showcontainer' %>


  <% elsif notification.notificable_type === "Comment" %>
    <% unless notification.notificable.parent_id %>
      <p class='notification_info'><%= link_to notifier.name, notifier %>さんがあなたの投稿にコメントしました（<%= time_ago_in_words(notification.created_at) %> ago.）</p>
    <% else %>
      <p class='notification_info'><%= link_to notifier.name, notifier %>さんがあなたをメンションしました（<%= time_ago_in_words(notification.created_at) %> ago.）</p>
    <% end %>
    <%= render partial: 'comments/comment', locals: {comment: notification.notificable} %>
    <%= link_to '', micropost_path(notification.notificable.micropost_id), class: 'showcontainer' %>


  <% elsif notification.notificable_type === "Like" %>
    <p class='notification_info'><%= link_to notifier.name, notifier %>さんがあなたにいいね！しました（<%= time_ago_in_words(notification.created_at) %> ago.）</p>
    
    <% if notification.notificable.likeable_type === "Micropost" %>
      <% micropost = notification.notificable.likeable %>
      <%= render partial: 'microposts/micropost', locals: {micropost: micropost} %>
      <%= link_to '', micropost_path(micropost.id), class: 'showcontainer' %>
      
    <% elsif notification.notificable.likeable_type === "Comment" %>
      <% comment = notification.notificable.likeable %>
      <%= render partial: 'comments/comment', locals: {comment: comment} %>
      <%= link_to '', micropost_path(comment.micropost_id), class: 'showcontainer' %>
    <% end %>

  
  <% elsif notification.notificable_type === "Relationship" %>
    <p class='notification_info'><%= link_to notifier.name, notifier %>さんがあなたをフォローしました（<%= time_ago_in_words(notification.created_at) %> ago.）</p>
    <%= render partial: 'users/user', locals: {user: notifier} %>

  
  <% end %>
  
  <!-- notification表示であるので既読が付いていないものには既読を付ける -->
  <% notification.check unless notification.checked? %>
  
</div>