<div class="comment">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  
  <div class="comment-container">
    <span class="content">
      <%= raw Rinku.auto_link(simple_format(h(comment.content)), :all, 'target="_blank" rel="noopener noreferrer"') %>
    </span>
    
    <div class="response-form">
      <span class="like-btn-comment-<%= comment.id %> likes"> 
        <% if comment.like_users.find_by(id: current_user.id) %>
          <%= render partial: 'likes/unlike', locals: { likeable: comment } %>
        <% else %>
          <%= render partial: 'likes/like', locals: { likeable: comment } %>
        <% end %>
      </span>
      <span class="likes-comment-<%= comment.id %> likes-count form-inline">
        <%= render partial: 'likes/likes_count', locals: { likeable: comment } %>
      </span>
      <span class="timestamp">
        / Posted <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
    </div>
  </div>
  
  <div class="micropost-form">
    <%= render partial: 'microposts/micropost', locals: { micropost: comment.micropost } %>
  </div>
</div>