<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  
  <div class="line-checkbox-wrap">
    <%= f.label :line_connection_delete do %>
      <% if current_user.lineuid %>
        <span>LINE通知連携の解除</span>
        <%= f.check_box :line_connection_delete, {style: 'transform: scale(1.2);'} %>
      <% else %>
        <span>LINE通知連携</span>
        <a class="line-add-button" href="<%= ENV["LINE_ADD_URL"] %>"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="24" border="0"></a>
      <% end %>
  <% end %>
  </div>

  <%= f.label :current_password, "Current Password" %><span class="require-charm"> *</span>
  <%= f.password_field :current_password, class: 'form-control' %>

  <%= f.label :password, "New Password" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "New Password Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <div class="profile_icon_edit">
    <span class='profile_icon_frame'>
      <%= @user.image.attached? ? (image_tag @user.image) : (gravatar_for @user) %>
    </span>
    <span class="image inline-block">
      <%= f.file_field :image %>
    </span>
  </div>
  <div id="image_preview">
  </div>

  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>

<p id="edit_user_page">
  <%= link_to "The page for deleting your account", delete_user_path(@user) %>
</p>

<%= javascript_pack_tag 'icon_preview' %>