<% title = t '.title' %>
<% provide(:title, title) %>
<h1><%= title %></h1>

<%= paginate @users %>

<ul class="users">
  <%= render @users %>
  <!--<% @users.each do |user| %>-->
  <!--  <%= render user %>-->
  <!--<% end %>-->
</ul>

<%= paginate @users %>