<% provide(:title, @title) %>

<h1><%= @title %></h1>
<div class='user_search_form'>
  <%= search_form_for @q, url: users_path do |f| %>
    <div class="input-group">
      <%= f.search_field :name_cont, placeholder: "ユーザーを検索", class: "form-control" %>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: 'btn btn-search' do %>
          <i class="fas fa-search"></i>
        <% end %>
      </span>
    </div>
  <% end %>
</div>
<div class='center'><%= paginate @users %></div>
<div class='users_container'>
  <ul class="users">
    <%= render @users %>
  </ul>
</div>
<div class='center'><%= paginate @users %></div>
<% if @users.empty? %>
  <p>
    Couldn't find any user.<br>
    Please check username you are looking for.
  </p>
<% end %>
