<% provide(:title, @title) %>

<h1><%= @title %></h1>
<section class="user_info user_follow">
  <span class='profile_icon_frame'>
    <%= @userprofile.image.attached? ? (image_tag @userprofile.image) : (gravatar_for @userprofile) %>
  </span>
  <h1><%= @userprofile.name %></h1>
  <span><%= link_to "view my profile", @userprofile %></span>
  <span><b>Microposts:</b> <%= @userprofile.microposts.count %></span>
</section>
<section class="stats user_follow">
  <%= render 'shared/stats' %>
  <% if @users.any? %>
    <div class="user_avatars">
      <% @users.each do |user| %>
        <span class='profile_icon_frame'>
          <%= user.image.attached? ? (link_to image_tag(user.image), user) : (link_to gravatar_for(user), user) %>
        </span>
      <% end %>
    </div>
  <% end %>
</section>
<% if @users.any? %>
  <div class='center'><%= paginate @users %></div>
  <div class="users_container">
    <ul class="users follow">
      <%= render @users %>
    </ul>
  </div>
  <div class='center'><%= paginate @users %></div>
<% end %>