<% provide(:title, @userprofile.name) %>

<section class="user-info user-show">
  <div class='profile-icon-frame'>
    <%= @userprofile.image.attached? ? (image_tag @userprofile.image) : (gravatar_for @userprofile) %>
  </div>

  <div class='user-text-info'>
    <h1><%= @userprofile.name %></h1>

    <%= render partial: 'relationships/follow_form', locals: {user: @userprofile} if logged_in? %>
  </div>
</section>

<section class="stats">
  <%= render 'shared/stats' %>
</section>

<% if @userprofile.school_type.present? || @userprofile.subject.present? || @userprofile.profile.present? || @userprofile.website.present? %>

  <section class="profile">

    <ul>
      <% if @userprofile.school_type.present? %>
        <li>メイン校種: <%= @userprofile.school_type %></li>
      <% end %>

      <% if @userprofile.subject.present? %>
        <li>メイン教科: <%= @userprofile.subject %></li>
      <% end %>

      <% if @userprofile.profile.present? %>
        <li class="profile_description">プロフィール:<p><%= @userprofile.profile %></p></li>
      <% end %>

      <% if @userprofile.website.present? %>
        <li>Webサイト:
          <% if raw(Rinku.auto_link(simple_format(h(@userprofile.website)))).include?("https://#{domain_name}") %>
              <%= raw Rinku.auto_link(simple_format(h(@userprofile.website), class: "inline-block"), :all) %>
          <% else %>
            <%= raw Rinku.auto_link(simple_format(h(@userprofile.website), class: "inline-block"), :all, 'target="_blank" rel="noopener noreferrer"') %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </section>
  
<% end %>

<div class="tab">
  <%= link_to "Materials", user_path(@userprofile, tab: "materials"), id: "materials_tab" %>
  <%= link_to "Microposts", user_path(@userprofile, tab: "microposts"), id: "microposts_tab" %>
  <%= link_to "Responses", user_path(@userprofile, tab: "responses"), id: "responses_tab" %>
</div>

<% if @tab === "materials" %>
  <% if @materials.any? %>
    <ol class="materials">
      <%= render partial: 'microposts/materials', collection: @materials, as: 'micropost' %>
    </ol>
    <div class='center'><%= paginate @materials, param_name: 'material_page' %></div>
  <% else %>
    <p>No materials</p>
  <% end %>

<% elsif @tab === "microposts" %>
  <% if @microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <div class='center'><%= paginate @microposts, param_name: 'micropost_page' %></div>
  <% else %>
    <p>No microposts</p>
  <% end %>

<% else %>
  <% if @comments_and_likes.any? %>
    <ol class="microposts jscroll-reaction">
      <% @comments_and_likes.each do |activity| %>
        <%= render partial: 'notifications/comment_and_like', locals: {activity: activity} %>
      <% end %>
      <div class='center'><%= paginate @comments_and_likes %></div>
    </ol>
  <% else %>
    <p>No comments, likes</p>
  <% end %>
<% end %>
