<% provide(:title, @title) %>

<h1><%= @title %></h1>

<section class="user-info user-follow">
  <div class='profile-icon-frame'>
    <%= @user.image.attached? ? (image_tag @user.image) : (gravatar_for @user) %>
  </div>

  <div class='user-text-info'>
    <h2><%= link_to @user.name, @user %></h2>
    <div><b>Microposts:</b> <%= @user.microposts.count %></div>
  </div>
</section>
<section class="stats user-follow">
  <%= render 'shared/stats' %>
  <% if @users.any? %>
    <div class="user_avatars">
      <% @users.each do |user| %>
        <span class='profile-icon-frame'>
          <%= user.image.attached? ? (link_to image_tag(user.image), user) : (link_to gravatar_for(user), user) %>
        </span>
      <% end %>
    </div>
  <% end %>
</section>
<% if @users.any? %>
  <div class='center'><%= paginate @users %></div>
  <div class="users_container">
    <ul class="users follow">
      <%= render @users %>
    </ul>
  </div>
  <div class='center'><%= paginate @users %></div>
<% end %>