<% provide(:title, @user.name) %>

<section class="user-info user-show">
  <div class='profile-icon-frame'>
    <%= @user.image.attached? ? (image_tag @user.image) : (gravatar_for @user) %>
  </div>

  <div class='user-text-info'>
    <h1><%= @user.name %></h1>

    <%= render partial: 'relationships/follow_form', locals: {user: @user} if logged_in? %>
  </div>
</section>

<section class="stats">
  <%= render 'shared/stats' %>
</section>

<% if @user.school_type.present? || @user.subject.present? || @user.profile.present? || @user.website.present? %>

  <section class="profile">

    <ul>
      <% if @user.school_type.present? %>
        <li>メイン校種: <%= @user.school_type %></li>
      <% end %>

      <% if @user.subject.present? %>
        <li>メイン教科: <%= @user.subject %></li>
      <% end %>

      <% if @user.profile.present? %>
        <li class="profile_description">プロフィール:<p><%= @user.profile %></p></li>
      <% end %>

      <% if @user.website.present? %>
        <li>Webサイト:
          <% if raw(Rinku.auto_link(simple_format(h(@user.website)))).include?("https://#{domain_name}") %>
              <%= raw Rinku.auto_link(simple_format(h(@user.website), class: "inline-block"), :all) %>
          <% else %>
            <%= raw Rinku.auto_link(simple_format(h(@user.website), class: "inline-block"), :all, 'target="_blank" rel="noopener noreferrer"') %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </section>
  
<% end %>

<% if @tab != "responses" %>
  <div class="tag-search-container user">
    <%= render partial: 'microposts/tag_search_form', locals: { micropost: @micropost, selected_tags: @selected_tags, tags: @tags, user: @user } %>
  </div>
<% end %>

<div class="tab">
  <%= link_to "Materials", user_path(@user, tab: "materials"), id: "materials_tab" %>
  <%= link_to "Microposts", user_path(@user, tab: "microposts"), id: "microposts_tab" %>
  <% if logged_in? %>
    <%= link_to "Responses", user_path(@user, tab: "responses"), id: "responses_tab" %>
  <% end %>
</div>

<% if @tab === "microposts" %>
  <% if @microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <div class='center'><%= paginate @microposts, param_name: 'micropost_page' %></div>
  <% else %>
    <p style="padding: 16px;">No microposts</p>
  <% end %>

<% elsif @tab === "responses" %>
  <% if logged_in? %>
    <% if @comments_and_likes.any? %>
      <ol class="microposts jscroll-reaction">
        <% @comments_and_likes.each do |activity| %>
          <%= render partial: 'notifications/comment_and_like', locals: {activity: activity} %>
        <% end %>
        <div class='center'><%= paginate @comments_and_likes %></div>
      </ol>
    <% else %>
      <p style="padding: 16px;">No comments, likes</p>
    <% end %>
  <% end %>

<% else %>
  <% if @materials.any? %>
    <ol class="materials">
      <%= render partial: 'microposts/materials', collection: @materials, as: 'micropost' %>
    </ol>
    <div class='center'><%= paginate @materials, param_name: 'material_page' %></div>
  <% else %>
    <p style="padding: 16px;">No materials</p>
  <% end %>
<% end %>
