<% @micropost ||= micropost %>
<% url = @micropost.created_at.present? ? replace_micropost_files_path(@micropost) : set_files_path %>
<div class="file-modal-wrapper" >
  <div class="file-modal">
    <span class="close-modal">
      <%= link_to close_files_path, remote: true do %>
        <i class="fa fa-2x fa-times"></i>
      <% end %>
    </span>
    <%= form_with(model: @micropost, url: url, method: :get, local: false) do |f| %>
      <%= render 'shared/error_messages_easy', object: f.object %>
      <%= f.grouped_collection_select(:file_type, FileCategory.all, :file_types, :name, :value, :name, {include_blank: "ファイルの種類"}, class: "form-control") %>
      <div class="field">
        <%= f.text_area :file_link, placeholder: "ファイルの埋め込みコード または PDFのURL を入力する" %>
      </div>
      <div class="method_link_container inline-block">
        <%= link_to "Google Slides 投稿方法", googleslides_help_path %>
        <%= link_to "PowerPoint 投稿方法", powerpoint_help_path %>
      </div>
      <%= f.submit "OK", class: "btn btn-primary btn-ok" %>
    <% end %>
  </div>
</div>