<li class="micropost-<%= micropost.id %>">
  <div class="micropost-container">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
    
    <div class="content-container">
      <div class="content">
        <p>
          <%= raw Rinku.auto_link(simple_format(h(micropost.content)), :all, 'target="_blank" rel="noopener noreferrer"') %>
        </p>
        <div class="links">
          <% if micropost.links.present? %>
            <% oembed = oembed_get(micropost.links) %>
            <% if oembed %>   <!-- OEmbedの表示（YouTube, Twitter 等） -->
              <div class="links-container">
                <div class="oembed"><%= oembed.html_safe %></div>
              </div>
            <% elsif micropost.links.end_with?(".pdf") %> <!-- pdfリンクのプレビュー -->
              <div class="links-container">
                <% pdf_link = "https://drive.google.com/viewerng/viewer?embedded=true&url=#{micropost.links}" %>
                <div class="pdf-container">
                  <!-- <iframe class="pdf" data-src=<%= pdf_link %>></iframe> -->
                  <iframe class="pdf" src=<%= pdf_link %>></iframe>
                </div>
              </div>
            <% else %>  <!-- OGPの表示（Webサイト） -->
              <% og = og_get(micropost.links) %>
              <% if og %>
                <div class="links-container">
                  <figure>
                    <% cache(og.images.first, expires_in: 600.seconds) do %>
                      <% if og.title.present? %>
                        <%= link_to image_tag(og.images.first, alt: og.title), og.url, target: :_blank, rel: "noopener noreferrer" %>
                      <% elsif og.description.present? %>
                        <%= link_to image_tag(og.images.first, alt: og.description), og.url, target: :_blank, rel: "noopener noreferrer" %>
                      <% else %>
                        <%= link_to image_tag(og.images.first), og.url, target: :_blank, rel: "noopener noreferrer" %>
                      <% end %>
                    <% end %>
                    <figcaption>
                      <span class=ogp_title><%= "[#{og.title}]" if og.title.present? %></span>
                      <span class=ogp_description><%= og.description.truncate(150) if og.description.present? %>
                    </figcaption>
                  </figure>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <% if micropost.file_link.present? %>
            <div class="links-container">
              <div class="slide-container">
                <%= micropost.file_link.html_safe %>
              </div>
            </div>
          <% end %>
        </div>
        <% if micropost.image.attached? %>
          <!-- link_to micropost.display_image, "data-lightbox": micropost.display_image do %>-->
          <%= image_tag micropost.display_image %>
          <!--end %>-->
        <% end %>
      </div>
    </div>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= link_to "delete", micropost, method: :delete,
                                         data: { confirm: "You sure?" } %>
      <% end %>
    </span>
  
    <div class="response-form">
      <span class="like-btn-micropost-<%= micropost.id %> likes"> 
        <% if micropost.like_users.find_by(id: current_user.id) %>
          <%= render partial: 'likes/unlike', locals: { likeable: micropost } %>
        <% else %>
          <%= render partial: 'likes/like', locals: { likeable: micropost } %>
        <% end %>
      </span>
      <span class="likes-micropost-<%= micropost.id %> likes-count">
        <%= render partial: 'likes/likes_count', locals: { likeable: micropost } %>
      </span>
    
      <span class="comment-btn-<%= micropost.id %> comment-btn-wrap">
        <% comment_count = micropost.comments.where(parent_id: nil).count %>
        <%= button_to "コメント #{comment_count}", comment_path(micropost.id), { method: :get, params: {userprofile_id: @userprofile.id}, class: "comment-btn btn btn-link", remote: true } %>
      </span>
      <span class="comment-close-<%= micropost.id %> comment-btn-wrap comment-close-btn">
        <!-- 親コメントでReplyボタンをクリックするとここに「閉じる」リンクがrenderされる -->
      </span>
    </div>
  
    <div class="comment-<%= micropost.id %> wrap comments-wrap">
      <!-- コメントボタンをクリックするとここにrenderされる -->
    </div>
  </div>
</li>