<% school_types = Tag.where(category: "school_type").pluck(:name) %>

<%= form_with model: Micropost.new, url: microposts_path, method: :get do |f| %>
  <% if selected_school_type %>
    <%= f.select :school_type, school_types, include_blank: "校種タグ", selected: selected_school_type %>
    <% case selected_school_type %>
    <% when "小学校"     then category = "primary_subject" %>
    <% when "中学校"     then category = "secondary_subject" %>
    <% when "高校(共通)" then category = "senior_common_subject" %>
    <% when "高校(専門)" then category = "senior_specialized_subject" %>
    <% else                   category = "" %>
    <% end %>
    <%= f.select :subject, Tag.where("category LIKE ?", "%#{category}%").pluck(:name), include_blank: "教科タグ", selected: selected_subject %>
  <% elsif selected_tags %>
    <%= f.select :school_type, school_types, include_blank: "校種タグ" %>
    <%= f.select :subject, "", include_blank: "---" %>
  <% else %>
    <%= f.select :school_type, school_types, include_blank: "校種タグ" %>
    <%= f.select :subject, "", include_blank: "---" %>
  <% end %>
  <div class="tag_search_wrap">
    <div class="input-group">
      <%= f.text_field :tags, placeholder: "タグ", value: selected_tags, data: {role: "tagsinput"} %>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: 'btn btn-search' do %>
          <i class="fas fa-search"></i>
        <% end %>
      </span>
    </div>
  </div>
  <% @tags.each do |tag| %>
    <%= link_to "#{tag.name}", add_search_tag_microposts_path(tag: tag.name), remote: true %>
  <% end %>
<% end %>
