<% school_types = Tag.where(category: "school_type").pluck(:name) %>

<% if request.path_info == microposts_path %>
  <% path = microposts_path %>
<% elsif request.path_info == portcurio_user_path(current_user) %>
  <% path = portcurio_user_path(current_user) %>
<% end %>

<%= form_with model: Micropost.new(educational_material: true), url: path, method: :get do |f| %>
  <% if selected_school_type %>
    <%= f.select :school_type, school_types, { include_blank: "校種タグ", selected: selected_school_type }, class: "form-control" %>
    <% case selected_school_type %>
    <% when "小学校"     then category = "primary_subject" %>
    <% when "中学校"     then category = "secondary_subject" %>
    <% when "高校(共通)" then category = "senior_common_subject" %>
    <% when "高校(専門)" then category = "senior_specialized_subject" %>
    <% else                   category = "" %>
    <% end %>
    <%= f.select :subject, Tag.where("category LIKE ?", "%#{category}%").pluck(:name), { include_blank: "教科タグ", selected: selected_subject }, class: "form-control" %>
  <% else %>
    <%= f.select :school_type, school_types, { include_blank: "校種タグ" }, class: "form-control" %>
    <%= f.select :subject, "", { include_blank: "---" }, class: "form-control" %>
  <% end %>
  <div class="check_box inline-block pull-right">
    <%= f.label :educational_material do %>
      <%= f.check_box :educational_material, class: 'inline-block' %>
      <span>教材・記事</span>
    <% end %>
  </div>

  <div class="tag_search_wrap">
    <div class="input-group">
      <%= f.text_field :tags, placeholder: "タグ or キーワード", value: selected_tags, data: {role: "tagsinput"} %>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: 'btn btn-search' do %>
          <i class="fas fa-search"></i>
        <% end %>
      </span>
    </div>
  </div>
  <div class="tag-container">
    <% @tags.each do |tag| %>
      <%= link_to "#{tag.name}", add_search_tag_microposts_path(tag: tag.name), remote: true %>
    <% end %>
  </div>
<% end %>
