<%= form_with url: micropost_porcs_path(micropost), local: false, class: "inline-block" do |f| %>
  <% if @userprofile.present? %>
    <div><%= hidden_field_tag :userprofile_id, @userprofile.id, { id: SecureRandom.hex(4) } %></div>
  <% elsif params[:id].present? %>
    <div><%= hidden_field_tag :userprofile_id, params[:id],     { id: SecureRandom.hex(4) } %></div>
  <% else %>
    <div><%= hidden_field_tag :userprofile_id, current_user.id, { id: SecureRandom.hex(4) } %></div>
  <% end %>
  <%= button_tag type: "submit", class: "btn-link inline-block btn-porc btn-porc-unporc" do %>
    <i class="fa-solid fa-piggy-bank"></i>
  <% end %>
<% end %>